hr {
    height: 2px !important;
    border-width: 0;
    color: black;
    background-color: black;
    opacity: 1;
}
.container-fluid {
    width: 50%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next, .carousel-control-prev {
    opacity: .5;
}

.card {
    min-width: 200px !important;
}

.navbar-collapse {
    min-width: 700px;
}

@media (max-width: 768px) {
    .modal-fullscreen-lg-down{width:100vw;max-width:none;height:100%;margin:0 !important;}
    .modal-fullscreen-lg-down .modal-content{height:100%;border:0;border-radius:0 !important;}
    .modal-fullscreen-lg-down .modal-header{border-radius:0 !important;}
    .modal-fullscreen-lg-down .modal-body{overflow-y:auto !important;}
    .modal-fullscreen-lg-down .modal-footer{border-radius:0}
  }

#rodape {
    height: 20px;
    text-align: center;
}